{% extends "base.html" %}
{% load static %} 
{% load humanize %}
{% block content %} 
    
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"> سبد خرید شما </h1>
                    <p class="lead fw-normal text-white-50 mb-0">اینجا هر چی که بخوای بخری اضافه میشه</p>
                </div>                           
            </div>
        </header>
        <br>
        {% if cart_products %}
        {% for product in cart_products %}
        <div class="container">
            <div class="card mb-3">
                 <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            {% if product.is_sale %}
                            <p class="card-text"> 💰قیمت:<strike>{{ product.price | intcomma }} </strike> - {{ product.sale_price | intcomma }}</p>
                            {% else %}
                            <p class="card-text">💰قیمت:{{ product.price | intcomma }}</p>
                            {% endif %}
                            <p class="card-text">تعداد:
                             {% for key, value in quanities.items %}
                                 {% if key == product.id|slugify %}
                                     {{ value }}
                                 {% endif %}
                             {% endfor %}
                            </p>
                            <br><br>
                            <a href="{%  url 'home' %}" class="btn btn-secondary">بازکشت به صفحه اصلی </a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <br><br>
        <center><h3 class="container"> سبد خرید شما خالی است.&#128531;</h3></center>
        {% endif %}
 <br><br><br><br><br><br><br>
 {% endblock %}